@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
html, body {
    padding: 0;
    margin: 0;
    background: #fff;
    color: #000;
    font-size: 12px;
    font-family: 'Inter', Arial, sans-serif;
}
body.hidden {
    overflow: hidden;
}
.fix {
    clear: both
}
/* ::selection {
    background: #f1d9e7;
    color: #000
} */
::selection {
    background: #29332a;
    color: rgb(255 255 255);
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    border: 3px solid #FFF;
    transition: .3s
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid #FFF
}


/* *[data-size="desktop"] */
*[data-size="mobile-1"] {
    display: none;
}


.body-video-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: url('../picker.jpg') center;
    background-size: 70%;
}
.body-video-black {
    position: absolute;
    width: 0px;
    height: 1px;
    z-index: 999;
    top: 50%;
    left: 50%;
    overflow: visible;
    box-shadow: 0px 0px 436px 218px #000000b3;
}


header {
    position: relative;
    z-index: 9999;

    position: sticky;
    top: -40px;
}
.header-sale {
    text-align: center;
    /* background: darkorange; */
    /* background: #556b2f; */
    background: #426648;
    /* background-color: #c44d56; */
    padding: 7px 0 6px;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
}
.header {
    border-bottom: 1px solid #eee;
    /* background: #fff; */
    z-index: 999;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.header-background {
    width: 100%;
    height: 85px;
    position: absolute;
    left: 0;
    background: rgb(255 255 255 / 88%);
    z-index: -1;
}
.header-w {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 40px;
    height: 85px
}
.header-left-wrap {
    float: left;
    width: 20%;
    height: 45px;
    position: sticky;
    top: 0px;
}
.search-box {
    height: 45px;
    display: flex;
}
.user-search-box {
    width: 100%;
}
.user-search-box.active .search-box {
    height: 45px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #141414;
    padding: 0 16px;
    box-sizing: border-box;
    color: rgb(255 255 255 / 61%);
}
.user-search-box.active .search-box input {
    color: white;
}
.user-search-box.active {
    position: absolute;
    width: 380px;
    background: #000000d9;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: 0 6px 7px 3px rgb(0 0 0 / 14%);
}
.search-box-result {
    display: none;
}
.user-search-box.active .search-box-result {
    display: block;
}
.user-search-box .search-box-result span.null {
    display: block;
    font-size: 0px;
    text-align: center;
    color: #AAA;
    padding: 0px;
}
.user-search-box.active .search-box-result span.null {
    padding: 170px 0;
    font-size: 12px;
}
.search-icon {
    width: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: -3px;
}
.search-box input#user-search {
    font-family: 'Inter';
    font-size: 12px;
    border: 0;
    outline: none;
    padding: 1px 0 0 8px;
    margin: 0;
    background: transparent;
    width: 100%;
}
.location-box {
    display: flex;
    float: left;
    padding-left: 18px;
    line-height: 45px;
    cursor: pointer
}
.location-box span.borrow {
    line-height: 0;
    padding: 17px 0 0 5px;
}
.header-center-wrap {
    float: left;
    width: 60%;
    text-align: center;
}
.logo-wrap {
    /* font-family: 'Righteous';
    font-size: 24px;
    margin-top: 10px; */

    font-size: 24px;
    margin-top: 10px;
    /* font-family: 'Indie Flower'; */
    max-height: 30px;

    font-family: 'Righteous';
}
.logo-wrap a {
    text-decoration: none;
    color: #000;
    transition: .2s
}
.logo-wrap a span {
    font-family: 'Raleway';
    font-weight: 800;
}
.header-center-menu {
    padding: 15px 0;
}
.header-center-menu a {
    text-decoration: none;
    color: #000;
    padding: 0 8px;
    font-weight: 500;
}
.header-right-wrap {
    float: right;
    width: 20%;
    position: sticky;
    top: 0px;
}
.header-right-wrap .user-favorite, .header-right-wrap .user-profile, .header-right-wrap .user-bag {
    float: right;
    width: 41px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.header-right-wrap .user-favorite span, .header-right-wrap .user-profile span, .header-right-wrap .user-bag span {
    display: block;
    position: absolute;
    background: #b70000;
    color: #fff;
    border-radius: 100px;
    min-width: 9px;
    height: 10px;
    font-size: 8px;
    text-align: center;
    line-height: 10px;
    border-left: 1px solid #b70000;
    bottom: 10px;
    right: -2px;
    font-weight: 500;
}
.header.full-stack-video {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-bottom: 1px solid hsl(0deg 0% 93% / 15%);
}
.header.full-stack-video .header-background {
    background: rgb(255 255 255 / 0%);
}
.header.full-stack-video * {
    color: rgb(255 255 255 / 55%);
}
.header.full-stack-video span {
    color: #FFF;
}
.header.full-stack-video .logo-wrap a {
    color: #FFF;
}
.header.full-stack-video .header-center-menu a {
    color: rgb(255 255 255 / 75%);
} 


.value-box {
    position: relative;
    z-index: 2;
}
.value-box.margin {
    margin-top: 50px;
}
.body-w {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 40px;
}
.body-w.flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}


.index-page-middle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.index-page-middle-box {
    display: block;
    margin: 0 auto;
    padding: 40px 0 20px;
}
.index-page-name {
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 40px;
    max-width: 800px;
}
.index-page-about {
    color: hsl(0deg 0% 100% / 71%);
    text-align: center;
    max-width: 450px;
    margin: 18px auto 0;
    line-height: 1.7;
    font-size: 15px;
    padding: 0 40px;
}
.index-page-button {
    border: 1px solid hsl(0deg 0% 100% / 21%);
    color: #000;
    background: hsl(0deg 0% 100% / 86%);
    padding: 9px 28px 8px;
    display: inline-block;
    cursor: pointer;
    margin-top: 39px;
    font-size: 12px;
    border-radius: 10px;
    position: relative;
}
.index-page-button::before {
    content: '';
    width: calc(100% - 8px);
    height: 100%;
    position: absolute;
    border-radius: 10px;
    left: 4px;
    top: -6px;
    border: 1px solid hsl(0deg 0% 100% / 15%);
    box-sizing: border-box;
    z-index: -1;
}
.index-page-button::after {
    content: '';
    width: calc(100% - 4px);
    height: 100%;
    position: absolute;
    border-radius: 10px;
    left: 2px;
    top: -4px;
    border: 1px solid hsl(0deg 0% 100% / 18%);
    box-sizing: border-box;
    z-index: -1;
}
/* .index-page-button::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    left: 5px;
    top: 5px;
    border: 1px solid hsl(0deg 0% 100% / 21%);
    box-sizing: border-box;
    z-index: -1;
} */
.sky-footer {
    z-index: 999;
    color: hsl(0deg 0% 100% / 70%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0 19px;
}
.sky-footer .body-w {
    display: flex;
    justify-content: space-between;
}
.sky-footer span a {
    text-decoration: none;
    color: hsl(0deg 0% 100% / 70%)
}


.menu-container {
    display: flex;
    width: 22%;
}
.thing-items {
    position: sticky;
    top: 95px;
    height: fit-content;
    border-right: 1px solid #e1e1e1;
    margin-right: 60px;
}
.thing-items hr {
    width: 20%;
    margin: 15px 0;
    border: 0;
    height: 2px;
    background: rgb(237 237 237);
}
.thing-items a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #838383;
    margin-bottom: 10px;
    transition: .2s;
}
.thing-items a.back-button {
    /* background: #e8e8e8; */
    color: #000;
    padding: 2px 18px 1px 12px;
    display: flex;
    width: fit-content;
    border-radius: 8px;
    margin: 0 0 20px;
    transition: .3s;
    border: 1px solid #e8e8e8;
}
.thing-items a.back-button:active {
    opacity: .7;
}
.thing-items a.back-button span:nth-child(1) {
    padding: 1px 0 0 0;
    height: 28px;
    display: flex;
    align-items: center;
}
.thing-items a.back-button span:nth-child(2) {
    height: 28px;
    display: flex;
    align-items: center;
    padding-left: 7px;
}
.thing-items a.no-margin {
    margin: 0
}
.thing-items a:hover {
    color: #000
}
.filter-name {
    font-weight: 600;
}
.filter-box {
    margin-top: 10px;
    display: flex;
    width: 91%;
    flex-flow: wrap;
}
.filter-box-colour-item:nth-child(1) {
    margin-top: 0px;
}
.filter-box-colour-item {
    width: 100%;
    display: flex;
    margin-top: 8px;
    cursor: pointer;
}
.filter-box-colour {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.filter-box-colour-ex {
    width: 10px;
    height: 10px;
}
.filter-box-colour-ex[data-colour="red"] {
    background-color: #cd5c5c;
}
.filter-box-colour-ex[data-colour="black"] {
    background-color: black;
}
.filter-box-colour-ex[data-colour="grey"] {
    background-color: #a9a9a9;
}
.filter-box-colour-ex[data-colour="green"] {
    background-color: #2e8b57;
}
.filter-box-size {
    width: 40px;
    height: 40px;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
    padding-top: 1px;
    color: #aaa;
    flex-wrap: wrap;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 5px;
}
/* .filter-box-size:nth-child(-n+4) { /* у первых трех нет отступа 
    margin-top: 0;
} */
.thing-box {
    display: flex;
    width: 78%;
}
.thing-box-left {
    width: 53%;
    float: left;
    position: relative;
}
.thing-box-left img {
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.thing-box-left img:nth-child(1) {
    margin-top: 0px;
}
.thing-box-slider { /* only for mobile */
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16px;
    /* display: flex; */
    justify-content: center;
}
.thing-box-slider span {
    width: 5px;
    height: 5px;
    background: rgb(0 0 0 / 30%);
    margin: 0 3px;
    border-radius: 10px;
}
.thing-box-slider span.active {
    background: #000;
}

.thing-box-right {
    width: 47%;
    flex: 1;
}
.thing-box-info {
    padding-left: 60px;
    position: sticky;
    top: 95px;
}
.thing-box-way {
    color: #aaa;
    font-size: 10px;
    margin-bottom: 20px;
}
.thing-box-way a {
    color: #aaa;
    text-decoration: none;
}
.thing-box-name {
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
}
.thing-box-price {
    font-style: italic;
    font-size: 14px;
    padding-top: 6px;
}
.thing-box-about {
    padding: 30px 0 14px;
    line-height: 1.6;
}
.thing-box-size {
    margin-top: 30px;
}
.thing-box-size-items {
    float: left;
}
.thing-size-item {
    float: left;
    width: 37px;
    line-height: 36px;
    font-weight: 500;
    box-sizing: border-box;
    height: 36px;
    text-align: center;
    cursor: pointer;
    /* transition: .2s; */
    transition: .3s;
    color: #aaa;
    font-size: 13px;
    border: 1px solid #ddd;
    margin: 0 6px 0 0;
}
.thing-size-item[data-count="0"] {
    text-decoration: line-through;
}
.thing-size-item.active {
    color: #000;
    /* background: #eee; */
    border-color: #000
}
.thing-box-size-info {
    display: inline-block;
    line-height: 44px;
    margin-left: 30px;
    height: 42px;
}
.thing-box-size-info a {
    text-decoration: underline;
    color: #000;
}
.thing-action {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 30px;
}
.thing-buy-button {
    background: #000000;
    color: #fff;
    display: inline-block;
    padding: 16px 0px 15px;
    text-align: center;
    width: calc(100% - 50px);
    cursor: pointer;
}
.thing-add-to-f-button {
    width: 46px;
    height: 46px;
    background: #000;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.other-info-head {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}
.other-info-head span {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    transition: .2s;
}
.other-info-head.active span {
    transform: rotate(180deg);
    top: 6px;
}
.other-info-body {
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: .2s;
}
.other-info-body-wrap {
    padding: 10px 0;
    line-height: 1.4;
}
.thing-more-info {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6px;
}
.thing-more-info:nth-last-child(1) {
    padding-bottom: 0px;
}
.thing-more-info-t {
    width: 100%;
    max-width: 140px;
    color: #7c7c7c;
    padding-right: 20px;
    box-sizing: border-box;
}
.list-items-box {
    display: flex;
    width: 78%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-wrap {
    width: calc(33.33% - 10px);
    cursor: pointer;
    margin-top: 40px;
}
.item-wrap:nth-child(-n+3) { /* у первых трех нет отступа */
    margin-top: 0;
}
.item-img {
    width: 100%;
    height: 402px;
    background: #eee;
}
.item-img img {
    width: 100%;
    display: flex;
}
.item-name {
    font-weight: 600;
    margin-top: 4px;
    text-transform: uppercase;
}
.item-name span.item-title {
    padding: 4px 0 2px;
    display: inline-block;
}
.item-name span.item-colors {
    float: right;
    display: flex;
    align-items: center;
    height: 21px;
}
.item-price {
    font-size: 11px;
}
.item-colors div {
    width: 9px;
    height: 9px;
    background: grey;
    border-radius: 15px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 1px #dbdbdb;
}
.item-colors div:not(.active) {
    background: red;
    border: 0;
    box-shadow: none;
    width: 11px;
    height: 11px;
    margin-left: 6px;
}
.item-colors div[data-color="grey"] {
    background: grey;
}
.item-colors div[data-color="green"] {
    background: #4d4530;
}
.item-colors div[data-color="black"] {
    background: black;
}


.footer {
    background: #000000;
    padding: 60px 0 0;
    margin-top: 70px;
}
.footer-wrap-flex {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    font-family: 'Righteous';
    font-size: 24px;
    color: #fff;
    opacity: .3;
    line-height: 1;
}
.footer-left-menu {
    padding-right: 150px;
    padding-left: 50px;
    display: flex;
}
.footer-menu-item {
    float: left;
    padding-right: 80px;
}
.footer-menu-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    opacity: .6;
    margin: 0 0 3px;
    transition: .2s opacity;
}
.footer-menu-item a:hover {
    opacity: 1
}
.footer-left-third {
    color: #fff;
}
.footer-input {
    margin-top: 12px;
    white-space: nowrap;
    width: fit-content;
}
.footer-left-third span {
    line-height: 1.5;
    display: block;
    width: 80%;
    max-width: 318px;
}
.footer-left-third input[type="email"] {
    border: 0;
    padding: 9px 15px 8px;
    font-size: 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    outline: none;
    font-weight: 600;
    border-radius: 4px 0 0 4px;
}
.footer-left-third input[type="button"] {
    background: #ffffff14;
    padding: 8px 20px 7px;
    border-radius: 0 4px 4px 0;
    font-size: 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: .1s;
    box-sizing: border-box;
    border: 1px solid;
}
.footer-left-third input[type="button"]:active {
    opacity: .6
}
.footer-line {
    padding: 18px 0 19px;
    border-top: 1px solid rgb(255 255 255 / 14%);
    margin-top: 26px;
    color: #fff;
    opacity: .4;
}
.footer-line .body-w {
    display: flex;
    justify-content: space-between;
}
.footer-policy {
    float: right
}
.footer-policy a {
    text-decoration: none;
    color: #fff;
    opacity: .4
}


.cookie-alert {
    position: fixed;
    width: 630px;
    bottom: 14px;
    background: #000000e8;
    border-radius: 100px;
    padding: 16px 27px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    left: 50%;
    margin-left: -315px;
    transition: .3s;
    z-index: 999;


    transform: scale(0);
    bottom: -10px;
    opacity: 0;
}
.cookie-alert.unactive {
    transform: scale(0);
    bottom: -10px;
    opacity: 0;
}
.cookie-alert a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #ffffff5c;
    padding-bottom: 1px;
    margin-left: 10px;
    opacity: .3;
    font-size: 80%;
}
.cookie-alert span {
    float: right;
    background: rgb(255 255 255 / 7%);
    border-radius: 100px;
    padding: 10px 30px;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}



/* only for mobile */
.mobile-header {
    z-index: 999;
    border-bottom: 1px solid hsl(0deg 0% 87%);
    background: #ffffffc9;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.mobile-header.full-stack-video {
    background: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-bottom: 1px solid hsl(0deg 0% 100% / 20%);
}
.mobile-header-w {
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: space-between;

    z-index: 2;
}
.mobile-header-menu-b {
    width: 50px;
    height: 50px;
}
.mobile-header-menu-b::after {
    content: '';
    width: 28px;
    height: 2px;
    background: #000;
    display: block;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    margin-top: 4px;
    transition: .3s;
}
.mobile-header.full-stack-video .mobile-header-menu-b::after {
    background: #FFF;
}
.mobile-header-menu-b.active::after {
    transform: rotate(45deg);
    margin-top: 0px;
    width: 32px;
    background: #FFF;
}
.mobile-header-menu-b::before {
    content: '';
    width: 34px;
    height: 2px;
    background: #000;
    display: block;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    transition: .3s;
}
.mobile-header.full-stack-video .mobile-header-menu-b::before {
    background: #FFF;
}
.mobile-header-menu-b.active::before {
    transform: rotate(135deg);
    margin-top: 0px;
    width: 32px;
    background: #FFF;
}
.mobile-header-logo {
    font-size: 24px;
    font-family: 'Righteous';
    text-align: center;
    line-height: 50px;

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.mobile-header-logo a {
    color: #000;
    text-decoration: none;
}
.mobile-header.active .mobile-header-logo a {
    color: #FFF
}
.mobile-header.full-stack-video .mobile-header-logo a {
    color: #FFF;
}
.mobile-header-menu-bag {
    color: #000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.mobile-header.active .mobile-header-menu-bag {
    color: rgb(255 255 255 / 55%)
}
.mobile-header.full-stack-video .mobile-header-menu-bag {
    color: rgb(255 255 255 / 55%);
}
.mobile-header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #000;
    
    z-index: 1;
    padding-top: 0px;

    transition: all .3s, padding 0s;
    opacity: 0;
    overflow: hidden;
}
.mobile-header-menu a {
    color: #FFF;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ffffff1c;
    margin: 30px 0;
    padding: 0 20px 10px;
    font-size: 30px;
    font-weight: 500;
}



@media screen and (max-width: 1070px) {
    *[data-size="desktop"] {
        display: none;
    }
    *[data-size="mobile-1"] {
        display: block;
    }

    header {
        top: 0px;
    }

    .menu-container {
        display: flex;
        width: 22%;
        position: absolute;
        z-index: 9;
        left: 20px;
        top: 13px;
    }
    .thing-items a.back-button {
        background: #FFF;
        border-radius: 100px;
        padding: 2px 8.5px;
        border: 1px solid #aaaaaa85;
    }
    .thing-items a.back-button span:nth-child(2) {
        display: none;
    }

    .body-w.flex {
        flex-direction: column;
    }
    .value-box.margin {
        margin-top: 0px;
    }
    .thing-items a:not(.back-button), .thing-items hr {
        display: none;
    }
    .thing-items {
        position: static;
        border-right: none;
        margin-right: 0;
    }
    .thing-box {
        width: 100%;
        flex-direction: column;
    }
    .thing-box-left { /* ??? */
        width: calc(100% + 80px);
        float: none;
        margin-left: -40px;
    }
    .thing-box-left img:nth-child(1n+2) {
        display: none;
    }
    .thing-box-slider {
        display: flex;
    }
    .thing-box-right {
        width: 100%;
    }
    .thing-box-info {
        padding: 34px 0;
        position: static;
    }

    .footer-wrap-flex {
        flex-direction: column;
    }
    .footer-left-menu {
        padding-right: 0;
        padding-left: 0;
        flex-direction: column;
        margin: 40px 0 20px;
    }
    .footer-menu-item {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .footer-menu-item a {
        margin: 0 0 8px;
        width: 100%;
        font-size: 20px;
    }
    .footer-left-third span {
        line-height: 1.5;
        display: block;
        width: 100%;
        max-width: 100%;
        font-size: 13px;
    }
    .footer-line .body-w {
        flex-flow: column;
        text-align: center;
    }
    .footer-line .body-w span:nth-child(2) {
        margin-top: 6px;
    }
    .footer-policy a {
        opacity: .6;
    }

    .index-page-name {
        font-size: 60px;
    }
    .index-page-about {
        font-size: 14px;
    }
    .sky-footer .body-w {
        flex-flow: column;
        text-align: center;
    }
    .sky-footer span:nth-child(2) {
        margin-top: 6px;
        opacity: .7
    }
}
